<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Assignment</title>
	<!--/*/ <th:block th:include="layouts/styles :: styles"></th:block> /*/-->
</head>
<body>
	<div class="container mt-4">
	<!--/*/ <th:block th:include="layouts/navbar :: navbar"></th:block> /*/-->
		<div class="row">
			<div class="col-md-6">
				<a href="/employee" class="btn btn-primary">Employee Information</a>
			</div>	
			<div class="col-md-6">
				<a href="/company-information" class="btn btn-primary">Company Information</a>
			</div>	
		</div><br>
	</div>
	<!--/*/ <th:block th:include="layouts/scripts :: scripts"></th:block> /*/-->
</body>
</html>